target/
.targets/

.idea
tmp
**/.DS_Store
.cache
.tm_properties
.classpath
.project
.settings
*.sw*
tags
testCredentials.json

# sbt-slamdata common resources
/scripts/bumpDependentProject
/scripts/checkAndAutoMerge
/scripts/commonSetup
/credentials.bintray.enc
/credentials.sonatype.enc
/scripts/discordTravisPost
/scripts/isRevision
/scripts/listLabels
/scripts/closePR
/pgppassphrase.sbt.enc
/scripts/publishAndTag
/pubring.pgp.enc
/scripts/readVersion
/secring.pgp.enc
